{% extends 'base.html' %} {% block content %}

<div class="show-page">
  <div class="show left-panel">
    <div>
      <h2>{{ tamagotchi.name }}</h2>
      <img src="https://cdn-icons-png.flaticon.com/512/489/489803.png?w=360" alt="" id="full-body">
      <div>

        <a href="{% url 'tamagotchi_update' tamagotchi.id %}">Edit</a>
        <a href="{% url 'tamagotchi_delete' tamagotchi.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="show middle-panel">
    <h1>Tamagotchi Details</h1>
  </div>
  <div class="show right-panel">
    <h1>Right</h1>
    {% for photo in tamagotchi.photo_set.all %}
    <img src="{{photo.url}}" alt="fun image">
    {% empty %}
    <div>Upload Fun Times with {{tamagotchi.name}}</div>
    {% endfor %}
    <form action="{% url 'add_photo' tamagotchi.id %}" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <input type="file" name="photo-file" >
      <br /><br />
      <input type="submit" value="Upload Image">
    </form>
  </div>
</div>
{% endblock %}
