{% extends 'base.html' %} 
{% block content %}
<div class="char-form">
  <h1>Delete Tamagotchi</h1>
  <div class="char-del-item">
    <h3>
      Now Deleting
      <span>{{ object.name }}</span>
    </h3>
    {% if tamagotchi.pet_type == 'A'%}
    <img src="https://i.imgur.com/S5x6vG1.png" alt="Kutchipatchi" class="rounded-circle"/>
    {% elif tamagotchi.pet_type == 'B'%}
    <img src="https://i.imgur.com/lmI3cOF.png" alt="Memetchi" class="rounded-circle"/>
    {% elif tamagotchi.pet_type == 'C'%}
    <img
      src="https://i.imgur.com/uIOB92D.png"
      alt="Momotchi"
      class="rounded-circle"
    />
    {% elif tamagotchi.pet_type == 'D'%}
    <img src="https://i.imgur.com/Aw432KN.png" alt="Mametchi" class="rounded-circle"/>
    {% else %}
    <img src="https://i.imgur.com/FXiF2A9.png" alt="no type" class="rounded-circle"/>
    {% endif %}
  </div>
  <form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="DELETE" class="btn btn-lg" id="btn"/>
    <button class="btn btn-lg" id="btn">
      <a href="{% url 'tamagotchi_detail' object.id %}">CANCEL CANCEL!</a>
    </button>
  </form>
</div>
{% endblock%}
