{% extends 'base.html' %} {% block content %}

<h1>Tamagotchi List</h1>

<div class="tamagotchi-list-image">
  <img src="https://i.imgur.com/Aw432KN.png" alt="Mametchi Tamagotchi" class="tamagotchi-list-image"/>
  <img src="https://i.imgur.com/S5x6vG1.png" alt="Kuchipatchi Tamagotchi" class="tamagotchi-list-image">
  <img src="http://assets.stickpng.com/images/5a2d8fe9b3c4622cbe3597b8.png" alt="Memetchi Tamagotchi" class="tamagotchi-list-image">
  <img src="https://i.imgur.com/uIOB92D.png" alt="Momotchi Tamagotchi" class="tamagotchi-list-image">
</div>

{% for tamagotchi in tamagotchi_list %}
<a href="{% url 'tamagotchi_detail' tamagotchi.id %}">
  <span>{{ tamagotchi.name }}</span>
</a>
<br/>
{% endfor %} {% endblock %}
