{% extends 'base.html' %}
{% block content %}

<h1>About</h1>
<br>
<h2>Hey there, Characters!</h2>
<br>
<p>Wondering what to do? You can start by creating a character (or characters, if you please). The character is then able to obtain skills and level those skills up! </p>
<div id="science-car">
    <p>Maybe science is your happy place?</p>
    {% comment %} <img src="https://static.fandomspot.com/images/04/13707/00-featured-futuristic-car-cc-for-ts4-preview.jpg" alt="sci-fi car" width="250"/> {% endcomment %}
    <img src="https://www.thesimsresource.com/scaled/3385/w-920h-690-3385778.jpg" alt="scifi room" width="250" />
</div>
<div>
    <p>Perhaps you love all things art?</p>
    <img src="https://preview.redd.it/q8kt1lv3j8s21.jpg?auto=webp&s=3484b964087041b24e452ec3d1abeaf4afca5a12" alt="art studio" width="250px" />
</div>
<p>To keep your character company, choose a tamagatchi to keep as a pet companion. Your pet will need some care as well, don't forget to play, feed and give water to your pet! More features to come soon!
</p>




{% endblock %}