{% extends 'base.html' %}
{% block content %}

<h1>About</h1>
<br>
<h2>Hey there, Characters!</h2>
<br>
<p>Wondering what to do? You can start by creating a character (or characters, if you please). The character is then able to obtain skills and level those skills up! </p>
<img src="https://www.seekpng.com/ks/sim/" alt="nerdy guy posing" width="150"/>


<p>To keep your character company, choose a tamagatchi to keep as a pet companion. Your pet will need some care as well, don't forget to play, feed and give water to your pet! More features to come soon!
</p>




{% endblock %}