<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">
      Available Tamagotchis
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    {% if tamagotchis.count %} 
    {% for tamagotchi in tamagotchis.all %}
    <h1>{{ tamagotchi.name }}</h1>
    <div>
      <form
        action="{% url 'assoc_tamagotchi' character.id tamagotchi.id %}"
        method="post"
      >
        {% csrf_token %}
        <button type="submit">ADOPT</button>
      </form>
    </div>
    {% endfor %} 
    {% else %}
    <h1>No Tamagotchi To Adopt</h1>
    {% endif %}
  </div>
</div>
