  <div class="stat-bar">
    <p>Current {{quiz.0.category | capfirst}} Level: {{skill.level}}</p>
    <div class="progress">
      <div
      class="progress-bar progress-bar-striped progress-bar-animated"
      role="progressbar"
      aria-label="Animated striped example"
      aria-valuenow="75"
      aria-valuemin="0"
      aria-valuemax="200"
      style={{"width: "}}{{skill.level}}{{"%"}}
      ></div>
    </div>
  </div>
  <button
    type="button"
    class="btn" id="btn"
    data-bs-toggle="modal"
    data-bs-target={{"#"|stringformat:"sstaticBackdrop"}}{{index}}
  >
    Level Up {{quiz.0.category}}
  </button>
  <div
  class="modal fade"
  id={{"staticBackdrop"}}{{index}}
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          {{quiz.0.category}}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h2>{{quiz.0.question}}</h2>
        <select class="form-select" aria-label="Default select example" id="quiz_options">
          <option selected>{{quiz.0.incorrectAnswers.0}}</option>
          <option value="1">{{quiz.0.correctAnswer}}</option>
          <option value="2">{{quiz.0.incorrectAnswers.1}}</option>
          <option value="3">{{quiz.0.incorrectAnswers.2}}</option>
        </select>
      </div>
      <div class="modal-footer">
        <form action="{% url 'level_up' character.id quiz.0.category %}" method="post">
          {% csrf_token %}
          <button type="button" class="btn" id="btn" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn" id="modal_sub btn">Submit Answer</button>
        </form>
      </div>
    </div>
  </div>
  <script>
  //   $(document).ready(function() {
  //       $('#modal_sub').on("click", (evt) =>{
  //         let ops = $('#quiz_options').val() 
  //         if (ops)
  //          console.log(ops)
  //       })
  // })
  </script>
</div>