@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Mochiy+Pop+One&display=swap');

:root {
    background-color: #ECE0F8;
    color: #5f04b4;
    --title-font:'Mochiy Pop One', sans-serif;
    --content-font:'Kanit', sans-serif;
    --accent-color: #570544;
    --dark-color: #5f04b4;
    --light-color: #ECE0F8;
    --dark-color-opaque: #5f04b458;
}

header {
  background-color: var(--light-color);
  color: var(--dark-color);
  font-family: var(--title-font);
}


.show-page {
  display: grid;
  grid-template-areas:
    "left middle right"
    "left middle right"
    "left middle right";
  grid-template-columns: 1fr 2fr 1fr;
  height: 90vh;
}

.show-page > .left-panel {
  grid-area: left;
  align-items: center;
}

.show-page > .middle-panel {
  grid-area: middle;
}

.show-page > .right-panel {
  grid-area: right;
}

#btn {
  background-color: var(--accent-color);
  color: var(--light-color);
}

#btn:hover {
  background-color: transparent;
  color: var(--accent-color);
}

#btn a {
  text-decoration: none;
  color: var(--light-color);
}

#btn a:hover {
  text-decoration: none;
  color: var(--accent-color);
}
.panel-content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-color-opaque);
  border:3px solid  var(--accent-color);
  color: var(--accent-color);
  font-family: var(--title-font);
  box-shadow: 2px 2px 10px black;
  margin: 2%;
  height: 100%;
}

.panel-content-left > h2,.pet-details > h3, .panel-content-right > h2  {
  color: var(--accent-color);
}

.pet-details, .char-details {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--content-font);
}

.pet-details > img, .char-details > img {
  margin: 20%;
  width: 300px;
  box-shadow: 2px 2px var(--accent-color);
}


.pet-buttons, .btns-section {
  margin: 20%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.panel-content-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--content-font);
}

.panel-content-mid h2, .panel-content-mid h3 {
  font-family: var(--title-font);
}

.char-levels {
  width: 100%;
  margin: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-instance {
  margin: 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
}

.stat-bar {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}
.pet-message {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 10%;
}

.pet-actions {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5%;
}

.pet-log {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5%;
}

.panel-content-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-color-opaque);
  border:3px solid  var(--accent-color);
  color: var(--accent-color);
  font-family: var(--title-font);
  box-shadow: 2px 2px 10px black;
  margin: 1.5%;
  height: 100%;
}

.pet-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.adopted-pet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
#list-display {
  margin: 5%;
  height: 70vh;
  width: 70%;
}

#list-display img {
  width: 150px;
}

#list-display a {
  text-decoration: none;
}
#list-display a h3:hover {
  color: var(--accent-color);
  font-size: 2rem;
  transition: 1s;
}

#photo-upload {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.progress {
  width: 60%;
  margin-left: 2%;
}

#full-body {
  width: 70%;
  height: 70%;
  align-self: center;
}

.char-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  margin-right: 10%;
  margin-left: 10%;
  font-family: var(--content-font);
  background-color: #5f04b44f;
}

.char-form h1 {
  font-family: var(--title-font);
  margin-bottom: 2%;
}

.char-form form {
  font-size: xx-large;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.char-form form input {
  margin: 2%;
}

.char-form form p {
  display: flex;
  flex-direction: column;
  font-size: smaller;
}

.tam-imgs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

.tam-imgs img {
  max-width: 7rem;
  margin: 1%;
}

.char-imgs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

.char-imgs img {
  max-width: 5rem;
  margin: 1%;
}

main {
  background-color: var(--light-color);
  padding: 2%;

}

h1, h2, h3 {
  text-align: center;
  color: var(--dark-color);
  font-family: var(--title-font);
}

p {
  text-align: center;
  color: var(--dark-color);
  font-family: var(--content-font);
}

.navStyle, a.navbar-brand, a.nav-link, .container-fluid  {
  color: var(--dark-color);
  background-color: var(--light-color);
}

.home {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar.navbar-expand-lg.bg-light {
  margin: 0;
  padding: 0;
  background-color: var(--light-color);
}
.dropdown-menu li a {
  color: var(--dark-color);
}

.dropdown-menu li a:hover {
  color: var(--accent-color);
  background-color: var(--light-color);
}

.column {
  width: 50%;
  padding: 25px;
  margin: 25px;
  display: flex;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.297);
}

.carousel-caption p {
  color: white;
}

#carouselExampleCaptions, .carousel-inner, .carousel-inner img {
  max-height: 30rem;
}

.index-page, .index-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index-page {
  background-color: #5f04b44f;
  height: 85vh;
}

.index-list a {
  text-decoration: none;
  font-family: var(--content-font);
  font-size: xx-large;
  font-weight: 600;
  color: var(--dark-color);
}

.idx-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  margin: 10%;
}

.idx-item img {
  width: 5em;
  border: 2px solid var(--accent-color);
}

.char-idx-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  margin: 10%;
}

.char-idx-item img {
  width: 5em;
  padding: 10%;
  border: 2px solid var(--accent-color);
}

footer {
  display: flex;
  justify-content: space-between;
  color: var(--dark-color);
  font-family: var(--title-font);
}