
:root {
    background-color: #ECE0F8;
    color: #5f04b4;
}

header {
  height: 5vh;
  background-color: #ECE0F8;
  color: #5f04b4;
}

.show-page {
  display: grid;
  height: 95vh;
  grid-template-areas:
    "left middle right"
    "left middle right"
    "left middle right";
  grid-template-columns: 1fr 2fr 1fr;
}

.show {
  border: 2px dotted red;
}

.show-page > .left-panel {
  grid-area: left;
  align-items: center;
}

.show-page > .middle-panel {
  grid-area: middle;
}

.show-page > .right-panel {
  grid-area: right;
}

.progress {
  width: 60%;
}

#full-body {
  width: 70%;
  height: 70%;
  align-self: center;
}


main {
    background-color: #ECE0F8;
    color: #5f04b4;
    margin: 10px;
    padding: 15px;
}


h1 {
  text-align: center;
  color: #5f04b4;
  background-color: #ECE0F8;
}


h2 {
  text-align: center;

}


a.navbar-brand {
  color: #5f5f5f;;
  background-color: #ECE0F8;
  border: 1px solid red;

}

a.navbar {
  color: #5f04b4;
  background-color: #ECE0F8;
}

